@media (max-width: 767px) {
  .data-table {
    flex-direction: column;
  }

  .side-menu {
    width: 50px;

    .top-menu {
      display: none;
    }

    .full-menu {
      display: none;
    }

    .short-menu {
      display: block;
    }
  }
}


@media (min-width: 1024px) {
  .data-container {
    width: 75%;
  }
}

@media (max-width: 1024px) {
  .data-container {
    width: 95%
  }
}

@media (min-width: 768px) {

  .side-menu {
    width: 160px;

    .short-menu {
      display: none;
    }
  }
}
