@media (max-width: 767px) {
  .data-table {
    flex-direction: column;
  }

  .side-menu {
    width: 50px;

    .top-menu {
      display: none;
    }

    .full-menu {
      visibility: hidden;
      opacity: 0;
      top: 0;
      left: -160px;
      transition: 0.5s;
      transition-delay: 0.2s;
    }

    .short-menu {
      //display: block;
      visibility: visible;
      transition: 0.5s;
      transition-delay: 0.5s !important;
    }
  }
}


@media (min-width: 1024px) {
  .data-container {
    width: 75%;
  }
}

@media (max-width: 1024px) {
  .data-container {
    width: 95%;
  }
}

@media (min-width: 768px) {
  .side-menu {
    width: auto;
    min-width: 160px;

    .short-menu {
      visibility: hidden;
    }
  }

  .navbar-top {
    justify-content: flex-end;
  }
}
