.not-active {
  display: none !important;
  opacity: 1;
}

.active {
  display: block !important;
}

.hide {
  visibility: hidden !important;
  opacity: 0;
  right: -160px;
  transition: 0.5s !important;
}

.show {
  visibility: visible !important;
  opacity: 1 !important;
  transition: 0.5s !important;
  transition-delay: 0.2s !important;
  left: 0 !important;
}

.size-fl {
  width: 160px !important;
  transition-duration: 0.5s;
}

.size-sr {
  width: 50px !important;
  transition: 0.2s;
  margin: 0;
}

.slide {
  margin-left: 110px !important;
  transition: 0.5s;
  transition-delay: 0.3s !important;
}

.cont-size-fl {
  width: 160px !important;
  transition: 0.5s;
  transition-delay: 0.2s;
  top: 0;
  left: 0;
  transition-delay: 0.2s !important;
}
