.not-active {
  display: none !important;
  opacity: 1;
}

.active {
  display: block !important;
}

.hide {
  visibility: hidden !important;
}

.show {
  visibility: visible !important;
  opacity: 1 !important;
  transition: 0.5s !important;
}

.size-fl {
  width: 160px !important;
  transition: 0.5s;
}

.size-sr {
  width: 50px !important;
  transition: 0.2s;
  margin: 0;

}
