// Variables
*, *::before, *::after {
  box-sizing: border-box;
}

//colors
$color-sidebar: #333333;
$color-sidebar-active: #535353;
$color-text: #979797;
$color-menu-active: #E3E3E3;
$color-brand: #F5F5F2;
$color-bars: white;
$color-refresh: #F58220;
$color-button: #FFA200;
$color-dot: #04AE00;
$color-green: #74B67A;
$color-lightgreen: #96CC9B;
$color-darksalmon: #DE5252;
$color-hover: #EC7171;
$color-links: #56819F;
$color-alert: #FF0000;

//fonts
$paragraph-font: 'Quicksand', sans-serif, Arial;
$sidebar-font: 'Iceland', cursive, Arial;
$user-font: 'Amatic SC', cursive, Arial;
$logo-font: 'Gochi Hand', cursive, Arial;

//font sizes
$header-font-size: 20px;
$paragraph-font-size: 16px;
$sidebar-font-size: 14px;
$inner-wallet-font-size: 12px;
$logo-font-size: 25px;
