
.sections {
  background-color: $color-bars;
  margin: 15px;
}

.data-container {
  margin: auto;

  .data-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
  }

  .earnings-table {
    padding: 10px;
    margin: 0 10%;

    .earnings-img {
      padding: 30px 0;
    }

    .scroll-wrapper {
      display: block;
      width: auto;
      overflow: auto;
      height: 100%;

      .graph-image {
        width: auto;
        height: auto;
        float: left;
        object-fit: cover;
      }
    }
  }

  .table {
    width: 45%;
  }

  .table-rows {
    display: flex;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 5px;
    width: auto;
    justify-content: space-between;
    border-bottom: solid 1px $color-menu-active;
  }

  .earnings {
    border: none;
  }

  .main-datas {
    margin: 0;
    font-family: $paragraph-font;
  }

  .names {
    color: $color-text;
  }
}

.button-wrapper {
  padding: 30px;
  border-bottom: solid 1px $color-menu-active;
}

.links-container {
  display: block;

  .links-rows {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px $color-menu-active;
    padding: 15px;
    align-items: center;


    .link-name {
      flex: 4 0 0;
      text-align: left;
      font-family: $paragraph-font;
      color: $color-text;
    }

    .link-link {
      flex: 4 0 0;
      text-align: left;
      font-family: $user-font;
      color: $color-links;
      font-size: 20px;

      a {
        text-decoration: none;
      }
    }

    .link-icons {
      flex: 2 0 0;
      display: flex;
      justify-content: space-evenly;
    }

    .hide-icon {
      opacity: 0;
    }
  }

  .links-rows:hover {
    background-color: $color-brand;
    transition: background-color 0.3s;

    .hide-icon {
      opacity: 1;
      transition: 0.3s;
    }
  }
}
