.side-menu {
  height: 100%;
  display: flex;
  top: 0;
  background-color: $color-sidebar;
  color: $color-text;

  .full-menu {
    position: fixed;
    top: 0;
    width: 160px;

    .brand-name {
      font-family: $logo-font;
      color: $color-brand;
      margin: 0;
      display: flex;
      justify-content: space-evenly;
    }

    .contact-title {
      padding: 20px 0 20px 10px;
      font-family: $paragraph-font;
      font-size: $paragraph-font-size;
    }
  }

  .contact-wrapper {
    display: flex;

    .contact-image {
      width: 40px;
      height: 40px;
      margin-left: 10px;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .contact-image::before {
      position: absolute;
      top: 0;
      right: 3px;
      width: 20%;
      height: 20%;
      background-color: $color-dot;
      content: '';
      border-radius: 50%;
    }

    .contact-name {
      font-family: $sidebar-font;
      font-size: $paragraph-font-size;
      color: $color-links;
      padding: 20px 0 10px 10px;
    }
  }

  .short-menu {
    position: fixed;
    padding: 0 10px;
    text-align: center;

    .contact-image-short {
      width: 30px;
      height: 30px;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .logo {
    font-size: $logo-font-size;
    text-align: center;
    margin: 12px 0;
  }

  .navbar-side {
    list-style: none;
    padding: 0;

    .menu-element {
      display: flex;
      width: 100%;
      padding: 10px 0;

      .menu-icon {
        padding: 0 10px;
      }

      .menu-label {
        font-family: $sidebar-font;
        font-size: $sidebar-font-size;

      }
    }

    .menu-element:hover {
      border-left: solid 5px;
      border-left-color: $color-refresh;
      transition: 0.2s, background-color 1s, color 0.5s;
      opacity: 1;
      color: $color-bars;
      background-color: $color-sidebar-active;
      cursor: pointer;
    }
  }
}

