
.top-menu {
  background-color: $color-bars;
  margin-top: 0;
  border: solid 1px $color-menu-active;
  position: sticky;
  top: 0;

}

.navbar-top {
  display: flex;
  list-style: none;
  text-decoration: none;
  margin-top: 0;
  margin: 0;

  a {
    text-decoration: none;
  }

  .top-elements {
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: solid 1px $color-menu-active;
  }

  .wallet {
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;

    .wallet-icon {
      flex: 1 0 0;
      text-align: center;
    }

    .wallet-list {
      flex: 4 0 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .wallet-wrapper {
        padding: 0 20px;
        font-family: $paragraph-font;
        color: $color-text;
        font-weight: 700;
      }
    }
  }

  .account {
    display: flex;
    justify-content: space-between;

    .account-name {
      padding-left: 10px;
      font-family: $user-font;
      font-size: $paragraph-font-size;
    }
  }
}

.wallet:hover {
  .inner-wallet {
    display: flex;
  }
}
